body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*MOESTEN ER PROBLEMEN ZIJN MET TEXTAREA EERST NAAR DIT KIJKEN */
input,
select,
textarea {
  
    width: 100%;
    resize: none;
}

#homeRegisterTitle {
    text-align: center;
}

#homeRegisterBody {
    border: dotted 5px lightgray;
    margin-top: 5px;
}

.homeRegisterContent {
    margin-top: 5px;

}

.chatIndexBodyBorder {
    border: 2px solid black;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin: 10px;
}

.chatIndexContactBorder {
    border: 1px solid black;
    margin: 5px;
<<<<<<< HEAD
=======
    

>>>>>>> dde511ff45907ece260ab82dba096d58a8578c51
}
.chatIndexChatBoxBorder {
    border: 1px solid black;
    margin: 18px;
    height: 70%;
}
.chatIndexInput {
    border: 1px solid black; 
}
.chatIndexInputArea {
    height: 50px;
    width: 100%;
<<<<<<< HEAD
=======
    height: 15%;
    margin: 2%;

}
.chatIndexButtons {
    margin: 15px;
>>>>>>> dde511ff45907ece260ab82dba096d58a8578c51
}