
@{
    ViewBag.Title = "Index";
}

<h2>
    Index
</h2>
<div class="row container ">
    <div class=" col-md-3 chatIndexBodyBorder ">
    
        @for (int i = 0; i < 2; i++)
        {
            <div class="chatIndexContactBorder">
                <h6> Greg  @(i +1)</h6>
                <p> <b> Dit bericht is nog niet gelezen</b></p>
            </div>
  
        }
        @for (int i = 0; i < 2; i++)
        {
            <div class="chatIndexContactBorder">
                <h6> bryan @(i + 1)</h6>
                <p> gelezen Bericht</p>
            </div>

        }
    </div>
    <div class=" col-md-8  chatIndexBodyBorder">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit turpis nunc, in lobortis nibh vehicula vitae. Phasellus neque erat, gravida ac lacus vitae, sodales feugiat urna. Ut laoreet malesuada nisi nec lobortis. Pellentesque tortor sapien, faucibus et ipsum eget, imperdiet gravida odio. Cras pretium nunc porta urna varius, nec vestibulum purus placerat. Cras mattis faucibus arcu. Nunc non metus vitae quam tincidunt euismod. Duis fermentum suscipit erat. Duis luctus condimentum ligula ut semper. Donec at felis vitae augue tincidunt lobortis vel nec justo.

        Fusce mattis libero eget ligula elementum porttitor. In ut purus non neque consectetur consectetur at ut enim. Donec a rhoncus nisi. Suspendisse nisl arcu, bibendum ac lectus quis, gravida vehicula risus. Nam egestas dictum elit in posuere. Donec finibus volutpat mi quis placerat. Phasellus posuere hendrerit pellentesque. In hac habitasse platea dictumst.

        Nulla scelerisque ut tortor sed pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus turpis ante, venenatis sit amet urna elementum, sollicitudin tempus justo. Nulla congue ipsum sit amet nunc lacinia porttitor. In hac habitasse platea dictumst. Mauris fermentum justo turpis, sed dapibus nisi ullamcorper eget. Morbi dapibus, odio eget mattis pretium, nibh risus consequat leo, quis varius massa dui lacinia tortor. Mauris condimentum dui vel purus condimentum, nec fermentum felis gravida. Maecenas efficitur purus quis neque malesuada, sit amet scelerisque metus tempus. Sed mollis felis et eros eleifend rutrum. Sed nec nisi ut ex pellentesque pulvinar. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur vulputate, ipsum sed ultricies sollicitudin, mi lorem lobortis felis, id ultricies felis urna nec sapien. Phasellus feugiat sem vel mi luctus fermentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

        Donec fermentum erat vel dignissim mattis. Vestibulum ornare volutpat massa ac mollis. Sed nisl lectus, tristique at magna nec, ultricies dapibus turpis. Morbi ac facilisis urna, ut laoreet eros. Nam auctor tincidunt finibus. Cras aliquam eget augue a malesuada. Cras tincidunt purus eget finibus porta. Ut viverra sit amet dui id sodales. Vivamus commodo odio eget felis faucibus imperdiet. Nunc id mollis libero, sed ultricies justo. Aliquam sollicitudin, nisl ut tincidunt elementum, sem odio fermentum felis, ut aliquam lectus diam sed elit. Sed ac risus at elit pulvinar rutrum.

        Donec risus arcu, aliquam et odio a, pretium vestibulum felis. Morbi eget felis vitae nisl sollicitudin pulvinar. Praesent eu faucibus velit. Aenean in arcu nisl. Maecenas pulvinar, sem in fringilla suscipit, velit felis laoreet sapien, sed dignissim sapien leo id neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque nec quam augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce vitae dui tellus. Aliquam quis mauris ullamcorper, commodo lacus vitae, efficitur elit. Pellentesque vitae augue in eros sodales interdum. Ut nec velit rhoncus, mollis orci quis, ultrices velit. Quisque eget pretium quam, quis finibus nisl.
    </div>
</div>


