
@{
    ViewBag.Title = "Index";
}

<h2>
    Index
</h2>
<div class="row container ">
    <div class=" col-md-3 chatIndexBodyBorder ">
    
        @for (int i = 0; i < 2; i++)
        {
            <div class="chatIndexContactBorder" >
                <h6> Greg  @(i +1)</h6>
                <p> <b> Dit bericht is nog niet gelezen</b></p>
            </div>
  
        }
        @for (int i = 0; i < 2; i++)
        {
            <div class="chatIndexContactBorder">
                <h6> bryan @(i + 1)</h6>
                <p> gelezen Bericht</p>
            </div>

        }
    </div>
    <div class=" col-md-8  chatIndexBodyBorder">
        <div class="col-md-11 chatIndexChatBoxBorder">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit turpis nunc, in lobortis nibh vehicula vitae. Phasellus neque erat, gravida ac lacus vitae, sodales feugiat urna. Ut laoreet malesuada nisi nec lobortis. Pellentesque tortor sapien, faucibus et ipsum eget, imperdiet gravida odio. Cras pretium nunc porta urna varius, nec vestibulum purus placerat. Cras mattis faucibus arcu. Nunc non metus vitae quam tincidunt euismod. Duis fermentum suscipit erat. Duis luctus condimentum ligula ut semper. Donec at felis vitae augue tincidunt lobortis vel nec justo.

            Fusce mattis libero eget ligula elementum porttitor. In ut purus non neque consectetur consectetur at ut enim. Donec a rhoncus nisi. Suspendisse nisl arcu, bibendum ac lectus quis, gravida vehicula risus. Nam egestas dictum elit in posuere. Donec finibus volutpat mi quis placerat. Phasellus posuere hendrerit pellentesque. In hac habitasse platea dictumst.
        </div>
        <div class="col-md-12 ">
            <textarea > voer hier uw text in</textarea>

        </div>
        <div class="chatIndexButtons">
            <button> Verzend</button>
        </div>
</div>
    </div>

