@{
    ViewBag.Title = "Aanmelden";
}

<div class="jumbotron">
    <h1>Aanmelden</h1>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4" id="homeIndexDiv">
        <div class="col-md-4">
            <p>Username : </p>
            <p>Password : </p>
        </div>
        <div class="col-md-3">
            <input type="text" name="user"><br>
            <input type="password" class="homeIndexTextBox" name="password"><br />
        </div><br /><br /><br />
        <button class ="homeIndexButton" onclick="window.location.href='#'">Login</button>
        <button onclick="window.location.href='/Home/Register'">Registreer</button>
    </div>
    <div class="col-md-4">
    </div>
</div>